In [7]:
import pandas as pd

#Load the CSV
data = pd.read_csv('LFB Purchase Orders £5k to £10k FY 2024-25 Q1.csv')
# Display the first few rows
print(data.head())

     Order Number  Order Date  Net Amount  Line Number  \
0  TSR/18271       10/05/2024      9156.0          1.0
1  TSR/18271       10/05/2024      9156.0          2.0
2  TSR/18271       10/05/2024      9156.0          3.0
3  TSR/18621       15/05/2024      5306.4          1.0
4  TSF/08046       28/06/2024      7700.0          1.0

                                    Part Description Unit Cost Order Quantity  \
0  DRESSING, CHITOGAUZE          (IEC PACK)      ...     23.17            250
1  DRESSING, CORIUS SEAL         (IEC PACK)      ...      5.91            350
2  DRESSING, TRAUMA, PROMETHEUS  (IEC PACK)      ...      3.70            350
3  WATER, BOTTLED, DRINKING,      OPERATIONAL USE...      7.37            720
4  PROFESSIONAL SERVICES, FINANCE CONSULTANCY    ...  7,700.00              1

   Line Cost  Vendor ID                     Vendor Name  \
0     5792.5    20169.0  Safeguard Medical Technologies
1     2068.5    20169.0  Safeguard Medical Technologies
2     1295.0    20169.0  Safeguard Medical Technologies
3     5306.4     3154.0  GREENHAM TRADING LTD
4     7700.0    21121.0  LAVAT CONSULTING LTD T/A PSTAX

                                       Location Name
0  OPERATIONAL SUPPORT GROUP - GENERAL STORE     ...
1  OPERATIONAL SUPPORT GROUP - GENERAL STORE     ...
2  OPERATIONAL SUPPORT GROUP - GENERAL STORE     ...
3  OPERATIONAL SUPPORT GROUP - UNIFORM STORE     ...
4  FINANCE ACCOUNTANCY, SERVICE ACCOUNTS         ...

In [8]:
#Summary of the dataset (columns, types, null values)
print(data.info())

#Descriptive statistics for numerical columns
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Number      302 non-null    object
 1   Order Date        302 non-null    object
 2   Net Amount        302 non-null    float64
 3   Line Number       302 non-null    float64
 4   Part Description  302 non-null    object
 5   Unit Cost         302 non-null    object
 6   Order Quantity    302 non-null    object
 7   Line Cost         302 non-null    float64
 8   Vendor ID         302 non-null    float64
 9   Vendor Name       302 non-null    object
 10  Location Name     302 non-null    object
dtypes: float64(4), object(7)
memory usage: 26.2+ KB
None
         Net Amount  Line Number     Line Cost     Vendor ID
count    302.000000   302.000000    302.000000    302.000000
mean    7397.469272    17.225166   2990.316623  18362.000000
std     1246.651823    27.104859   3304.138876   6550.979736
min     5000.000000     1.000000     10.000000   1176.000000
25%     6558.227500     1.000000     88.120000  16763.000000
50%     7661.890000     2.000000   1105.670000  22250.000000
75%     7752.090000    21.750000   5973.625000  22442.000000
max    10000.000000    97.000000  10000.000000  22696.000000